body{
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('img/bg.jpg');
}

.header-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    background-color: rgb(0, 0, 0);
    color: white;
    margin: auto;
    /* position: relative; */
    /* padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px; */
    margin: 0;
}

.header-content {
    width: 68%;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    padding: 2%;
}

ul {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    background-color: black;
    list-style-type: none;
    padding: 1% 5%;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: end;
}

nav > ul > div > li > a {
    /* background-color: rgb(0, 0, 0); */
    color:white;
    float: left; 
    text-align: center;
    padding: 10px;
    margin-left: 0px;
    margin-right: 100px;
    text-decoration: none;
}

a:hover, a:active {
    color: gray;
}

/* .language {
    display: flexbox;
    float: right;
}  */

select {
    border: 0;
    width: 50px;
    background-color: black;
    color: white;
    size: 30;
}

main {
    background-color: rgb(248, 248, 244);
    width:60%;
    margin: auto;
    display: block;
    align-content: center;
    margin-bottom: 100px;
    padding: 2%;
}

iframe {
    max-width: 100% !important; 
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

.section-title {
    font-size: 30px;
    background-color: black;
    color: wheat;
    text-align: center;
    border-width: 100%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}