*{
    padding: 0px
}

body{
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('img/bg.jpg');
}

.header-container {
    position: sticky;
    top: 0px; 
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.grid-like {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.grid-like > * {
    flex: 1 1 100%
}

.logo {
    display: flex;
    width: 100%;
    padding: 0;
}

.wide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.language-select {
    display: flex;
    justify-content: center;
}

.language-selection > form {
    margin-right: 0;
}

.menu {
    text-align: center;
    font-size: large;
}

.menu ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.menu ul > * {
    /* flex: 1 1 50%; */
    width: 50%;
    justify-content: space-around;
    list-style-type: none;
}

a {
    color:white;
    float: none; 
    text-align: center;
    padding: 0;
    text-decoration: none;
}

a:hover, a:active {
    color: gray;
}

/* .language {
    display: flexbox;
    float: right;
}  */

select {
    border: 2px solid rgba(255, 255, 255, 0.527);
    border-radius: 8px;
    width: 50px;
    background-color: black;
    color: rgba(255, 255, 255, 0.425);
    size: 30;
    padding: 2%;
    margin: 10px;
}

main {
    background-color: rgb(248, 248, 244);
    width: 90%;
    margin: auto;
    display: block;
    align-content: center;
    margin-bottom: 100px;
    padding: 2%;
}

iframe {
    max-width: 100% !important; 
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

.section-title {
    font-size: 18px;
    background-color: black;
    color: wheat;
    text-align: center;
    border-width: 100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    text-align: center;
    
}

/* media query */

@media (min-width: 800px) {
    .grid-like {
        width: 75%;
        margin: auto;
    }

    .menu ul {
        width: 100%;
        flex-wrap: nowrap;
    }

    main {
        width: 75%;
    }

    .wide {
        width: 30%;
    }

    .section-title {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {

    .grid-like {
        width: 80%;
        flex-wrap: nowrap ;
    }

    .menu {
        text-align: center;
        font-size: x-large;
    }
    
    .menu ul {
        display: flex;
        width: 100%;
        margin-top: 2rem;
        margin-right: 150px;
    }

    .logo {
        justify-content: flex-start;
    }

    select {
        margin-top: 28px;
    }

    .wide {
        width: 40%;
    }

    main {
        width: 68%;
    }

    section-title {
        font-size: 30px;
    }
}